<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/cadastroMaterial.css" />

    <title>Cadastro de Material</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
      </div>
      <div class="navbar-button">
        <div class="button-container">
          <button id="centralButton" class="green-button">Central do Administrador</button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="form-title">Cadastro de Material</div>

      <form id="form" class="form" action="/materialCadastrado" method="POST">
        <div class="form-content">
          <label for="nome">Material</label>
          <input
            type="text"
            id="nome"
            name="nome"
            placeholder="  Nome do material"
          />
        </div>

        <div class="form-content">
          <label for="preco">Preço</label>
          <input
            type="text"
            id="precoInput"
            name="preco"
            placeholder="Valor"
          />
        </div>

        <div class="form-content">
          <label for="tipo">Tipo</label>
          <div class="custom-select">
          <select id="tipo" name="tipo" required>            
            <option value="" disabled selected>Selecionar</option>
            <option value="m²">m²</option>
            <option value="unidade">unidade</option>
          </select>
        </div>
        </div>

        <!-- Dropdown para selecionar o fornecedor -->
        <div class="form-content">
          <label for="fornecedor">Fornecedor</label>
          <div class="custom-select">
          <select id="fornecedor" name="fornecedor" required>
            <option value="" disabled selected>Selecionar</option>
            <!-- Lista de fornecedores dinamicamente gerada -->
            <% fornecedores.forEach(function(fornecedor) { %>
            <option value="<%= fornecedor.idFornecedor %>"><%= fornecedor.nomeFornecedor %></option>
            <% }); %>
          </select>
        </div>
        </div>

        <div class="form-content">
          <label for="descricao">Descrição</label>
          <input type="text" id="descricao" name="descricao" placeholder=" Opcional * " />
        </div>

    </div>
    <!-- Botão de envio -->
    <button type="submit" class="green-button">Cadastrar material</button>
    <br /><br />
  </form>
  </body>  
  <script src="../scripts/cadastroMaterial.js"></script>
</html>
