<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" href="../images/Logo 2.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/cadastroServico.css"  />
  
  <title>Cadastro de Serviços</title>

</head>
<body>
  <div class="navbar">
    <div class="navbar-logo">
      <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
    </div>
    <div class="navbar-button">
      <div class="button-container">
        <button id="centralButton" class="green-button">Central do Administrador</button>
      </div>
    </div>
  </div>
  <div class="container">
    
    <div class="form-title">Cadastro de Serviços</div>

    <form id="form" class="form" action="/servicoCadastrado" method="post">
    <div class="form-content">
      <label for="obra">Obra</label>
      <div class="custom-select">
        <select id="obra" name="obra" required>        
          <option value="" disabled selected>Selecionar Serviço</option>
          <% obras.forEach(function(obra) { %>
          <option value="<%= obra.idObra %>"><%= obra.idObra %></option>
          <% }); %>
        </select>
      </div>
    </div>

      <div class="form-content">
        <label for="tipo">Tipo de Serviço</label>
        <input
          type="text"
          id="tipo"
          name="tipo"
          placeholder="  Elétrico, hidráulico, projeto, arquitetônico..."
        />
      </div>

      <div class="form-content">
        <label for="descricao">Descrição do Serviço</label>
        <input
          type="text"
          id="descricao"
          name="descricao"
          placeholder="  Descrição detalhada sobre o serviço"
        />
      </div>

      <div class="form-content">
        <label for="data">Data de contratação</label>
        <input
          type="date"
          id="data"
          name="data"
          placeholder="  00 / 00 / 0000"
        />
      </div>

      <div class="form-content">
        <label for="valor">Valor do serviço</label>
        <input
          type="text"
          id="valorInput"
          name="valor"
          placeholder="  Valor cobrado pelo serviço"
        />
      </div>

    </div>
    
    <button type="submit" class="green-button">Cadastrar Serviço</button>
    <br /><br />
  </form>
 </body>
 <script src="../scripts/cadastroServico.js"></script>
</html>