<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" href="../images/Logo 2.png" type="image/x-icon">
  <link rel="stylesheet" href="../styles/editarBase.css"  />
  
  <title>Cadastro Custo</title>

</head>
<body>
  

  <div class="container">
    
    <div class="form-title">Base de Dados <br> Custo de Obra</div>

    <form id="form" class="form" action="custoCadastrado" method="POST">

      <div class="form-content">
        <label for="custom2">Custo por m²</label>
        <input
          type="text"
          id="custoMetro"
          name="custoMetro"
          placeholder="  R$50,00"
        />
      </div>

      <div class="form-content">
        <label for="custocomodo">Custo por cômodo</label>
        <input
          type="text"
          id="custoComodo"
          name="custoComodo"
          placeholder="  R$50,00"
        />
      </div>

      <div class="form-content">
        <label for="custogaragem">Custo por garagem</label>
        <input
          type="text"
          id="custoGaragem"
          name="custoGaragem"
          placeholder="  R$50,00"
        />
      </div>

    </div>
    
    <button type="submit" class="green-button">Atualizar custo de obra</button>
    <br><br>
    <a href="/historicoCustos" class="btn2"
      >Ver histórico de custos</a
    >
    <br /><br />
  </form>
 </body>
 <script src="../scripts/cadastrarCusto.js"></script>
</html>