<!-- editarItem.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/editarItem.css" />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />
    <title>Editar Item</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
      </div>
      <div class="navbar-button">
        <div class="button-container">
          <button id="centralButton" class="green-button">Central do Administrador</button>
        </div>
      </div>
    </div>

    <div class="form-title">Editar Item</div>
    <div class="container">
      <form method="POST" action="/editarItem/<%= item.idItem %>">
        <div class="form-content">
          <label for="descricao">Descrição:</label>
          <input
            type="text"
            id="descricao"
            name="descricao"
            value="<%= item.descricaoItem %>"
            required
          />
        </div>
        <div class="form-content">
          <label for="valor">Valor:</label>
          <input
            type="text"
            id="valorInput"
            name="valor"
            value="<%= item.valorItem %>"
            required
          />
        </div>
        <div class="form-content">
          <label for="pagamento">Pago?</label>
          <div class="radio-buttons">
            <div class="radio-option">
              <input
                type="radio"
                id="pagamentoSim"
                name="pagamento"
                value="true"
                <% if (item.pagamentoItem === true) { %>checked<% } %>
              />
              <label for="pagamentoSim">Sim</label>
            </div>
            <div class="radio-option">
              <input
                type="radio"
                id="pagamentoNao"
                name="pagamento"
                value="false"
                <% if (item.pagamentoItem === false) { %>checked<% } %>
              />
              <label for="pagamentoNao">Não</label>
            </div>
          </div>
        </div>
        <button type="submit"  class="green-button">Salvar</button>
      <br><br>
      </form>
    </div>
  </body>
  <script src="../scripts/visualizarEtapa.js"></script>
</html>
