<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/homepage.css" />

    <title>Cadastro de Cliente</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
      </div>
      <div class="navbar-items">
        <a href="#" class="navbar-item">Inicio</a>
        <a href="#" class="navbar-item">Sobre nós</a>
        <a href="#" class="navbar-item">Preço</a>
        <a href="#" class="navbar-item">Contato</a>
      </div>
      <div class="navbar-button">
        <div class="button-container">
          <button id="loginButton" class="green-button">Login</button>
          <button id="cadastrarButton1" class="green-button">Registra-se</button>
        </div>
      </div>
    </div>
    <div class="container1">
      <div class="texto">
        <h1>Software Organizacional <br />Para Construtores</h1>
        <br />
        <p>
          Acesse os detalhes de todas obras que sua empresa é <br />responsável
          em apenas um software, otimize seu tempo e evite confusões durante as
          etapas de construção.
        </p>
        <br />
        <div class="botoes">
          <button id="cadastrarButton2" class="button-container1">Cadastre-se Gratuitamente</button>
          <button class="button-container1">Nossos Planos</button>
        </div>
      </div>

      <div class="imagemContainer1">
        <img src="../images/Group 133.png" />
      </div>
    </div>
    <div class="container2">
      <div class="elemento elemento1">
        <img src="../images/Icon1.png" />
        <div class="texto">
          <h1>15K+</h1>
          <p>Usuários Ativos</p>
        </div>
      </div>
      <div class="elemento elemento2">
        <img src="../images/Icon.png" />
        <div class="texto">
          <h1>30K+</h1>
          <p>Downloads</p>
        </div>
      </div>
      <div class="elemento elemento3">
        <img src="../images/Icon1.png" />
        <div class="texto">
          <h1>10K+</h1>
          <p>Parceiros</p>
        </div>
      </div>
    </div>
    <div class="container3">
      <div class="texto">
        <h1>
          Acesse a qualquer<br />
          momento de <br />qualquer lugar
        </h1>
        <br />
        <p>
          Nosso software foi projeto para ser utilizado tanto em
          <br />computadores quanto em celulares, assim facilitando o
          <br />acesso independente de onde você estiver.
        </p>
        <br />
      </div>

      <div class="imagemContainer3">
        <img src="../images/PC COM VERDE.png" />
      </div>
    </div>
    <div class="textoCentro">
      <h1>
        Tenha tudo sobre sua obra <br />
        em apenas um lugar
      </h1>
    </div>
    <div class="container4">
      <div class="texto">
        <img src="../images/Group 135.png" />
      </div>

      <div class="imagemContainer2">
        <img src="../images/Group 136.png" />
      </div>
    </div>
    <div class="footer">
      <div class="texto">
        <h1>Ficou interessado?<br /></h1>
        <br />
        <h2>Não Perca mais tempo!</h2>
        <p>Clique no botão abaixo e comece seu teste grátis</p>
      </div>
      <br />
      <button id="cadastrarButton3" class="button-container2">Cadastre-se Gratuitamente</button>
    </div>
  </body>
  <script src="../scripts/homepage.js"></script>
</html>
