<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/paginaGerenciamento.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />

    <title>Tela do Cliente</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
        </div>        
      </nav>
    </header>
    <main>
      <div class="adm">
      <div class="titlesCliente">
        <h1>Seja Bem-Vindo</h1>
        <h2>Selecione a opção que deseja acompanhar</h2>
      </div>
      <div class="buttons">
        <button id="simulacaoBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Fazer simulação de obra
        </button>
        <button id="acompanharBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Acompanhar obra
        </button>
        <button id="editarBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Editar informações
        </button>
      </div>
    </div>
    </main>
  </body>
  <script>
    //Redirecionar para editarCliente

    const idCliente = "<%= idCliente %>";
    const editarBtn = document.getElementById("editarBtn");

    editarBtn.addEventListener("click", function () {
      window.location.href = "/editarCliente/" + idCliente;
    });

    //Redirecionar para simulacaoFinanciamento

    const simulacaoBtn = document.getElementById("simulacaoBtn");

    simulacaoBtn.addEventListener("click", function () {
      window.location.href = "/simulacaoFinanciamento";
    });

    //Redirecionar para acompanharObra

    const acompanharObra = document.getElementById("acompanharBtn");

    acompanharObra.addEventListener("click", function () {
      window.location.href = "/selecionarObraCliente";
    });
  </script>
</html>
