<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/paginaGerenciamento.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />
    <title>Tela Administrador</title>

  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
        </div>
      </nav>
    </header>
    <main>
      <div class="adm">
      <div class="titles">
        <h1>Seja Bem-Vindo <br/> De Volta, Relton</h1>
        <h2>Selecione a opção que deseja gerenciar</h2>
      </div>
      <div class="buttons">
        <button id="fornecedoresBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Gerenciar fornecedores
        </button>
        <button id="acompanhamentoBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Acompanhamento obras
        </button>
        <button id="obrasBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Gerenciar obras
        </button>
        <button id="materiaisBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Gerenciar materiais
        </button>
        <button id="servicoBtn">
          <img src="../images/Seta.png" alt="Seta" />
          Gerenciar serviço de obra
        </button>
      </div>
      </div>
    </main>
  </body>
  <script src="../scripts/paginaAdm.js"></script>
</html>
