<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/selecionarCliente.css" />
    <link rel="icon" href="../images/Logo 2.png" type="image/x-icon" />

    <title>Selecionar Cliente</title>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <img src="../images/Logo 2.png" alt="Logo" width="80" height="40" />
      </div>
      <div class="navbar-button">
      </div>
    </div>
    <div class="container">
      <div class="form-title">Selecionar Cliente</div>

      <form id="form" class="form" action="/selecionarObra" method="POST">
        <div class="form-content">
          <label for="clienteSelecionado">Cliente</label>
          <div class="custom-select">
            <select id="clienteSelecionado" name="clienteSelecionado">
              <option value="" disabled selected>Selecionar Cliente</option>
              <% clientes.forEach(cliente => { %>
                <option value="<%= cliente.idCliente %>"><%= cliente.nomeCliente %></option>
              <% }); %>
            </select>
          </div>
        </div>
      </div>
        <button type="submit" class="green-button">Acessar</button>
        <br /><br />
      </form>
  </body>
  <script src="../scripts/selecionarCliente.js"></script>
</html>
