@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 80%;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0 10px;
}

.navbar-item:hover {
  color: #62c500;
}

.navbar-button {
  order: 3;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container button {
  margin-left: 10px;
  padding: 10px 15px;
  border: 1px solid #62c500;
  background-color: transparent;
  color: #62c500;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #62c500;
  color: white;
}

.button-container button:active {
  background-color: #62c500;
  color: white;
}

.container {
  background-color: #161616;
  border-radius: 10px;
  margin: 30px;
  max-width: 900px;
  width: 100%;
  box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border: 2px solid #393939;
  padding: 100px;
  overflow-x: none;
}

.form-title {
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 40px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #161616;
  align-items: center;
}

.custom-table td {
  padding: 20px;
  padding-right: 30px;
  text-align: center;
  color: white;
  border: 1px solid #424242;
}

.table-top {
  font-weight: bolder;
  font-size: 17px;
}

body {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: 260px;
  height: 140px;
  border-radius: 17px;
  background-color: #161616;
  border: 2px solid #393939;
  margin-right: 20px;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
}

.card:last-child {
  margin-right: 0;
}

.card {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
}

.card h2{
  margin-top:10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.card p{
  margin-top:30px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.green-button {
  background-color: #62c500;
  color: white;
  border: none;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 10px; 
}
.button-container {
  display: flex;
}

.green-button {
  margin-right: 10px; /* Espaçamento entre os botões */
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .container {
    max-width: 90%;
  }

  .custom-table td {
    padding: 10px;
    font-size: 14px;
  }
}

@media print {
  .navbar {
    display: none; 
  }
}
