@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 80%;
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0 10px;
}

.navbar-item:hover {
  color: #62c500;
}

.navbar-button {
  order: 3;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container button {
  margin-left: 10px;
  padding: 10px 15px;
  border: 1px solid #62c500;
  background-color: transparent;
  color: #62c500;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #62c500;
  color: white;
}

.button-container button:active {
  background-color: #62c500;
  color: white;
}

.container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.invalid-credentials {
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: #62c500;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.imagem1 {
  flex: 1;
}

.imagem1 img {
  width: 74%;
}
.formularioLogin {
  flex: 1;
  width: 50%;
}

a {
  text-decoration: none;
  color: white;
}

section {
  background-color: #121212;
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: #fff;
}

.login-container {
  height: 450px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  border: 1px white solid;
  border-radius: 20px;
}

h2 {
  font-size: 1.75em;
  margin: 0 0 20px;
  filter: drop-shadow(0 6px 2px black);
}

.input-box {
  position: relative;
  border-bottom: 2px solid white;
  margin: 30px 0;
  width: 310px;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 1em;
  transition: 0.5s;
}
.input-box input:invalid {
  color: white; /* Define a cor do texto quando o campo é inválido */
}

.input-box input::placeholder {
  color: #999; /* Define a cor do placeholder */
}

.input-box input:valid ~ label,
.input-box input:focus ~ label {
  top: -5px;
}

.input-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 1em;
  padding: 0 40px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.4em;
  line-height: 45px;
}

.create-account {
  text-align: center;
  margin-top: 20px;
}

.no-account {
  display: inline-block;
  margin-right: 10px;
}

.register-link {
  display: inline-block;
  color: #62c500;
  text-decoration: none;
}

.remember-forgot a {
  color: #62c500;
  text-decoration: none;
}

.submit {
  height: 40px;
  width: 310px;
  border-radius: 20px;
  margin: 0 0 10px;
  outline: none;
  border: 1px solid #62c500;
  background: #121212;
  color: #62c500;
  transition: 0.3s;
}
.submit:hover {
  border: 1px solid #fff;
  background-color: #121212;
  color: white;
}
.container1 {
  width: 70%;
  margin-top: 2%;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.create-account {
  margin: 12px 0 0 0;
}

@media screen and (max-width: 360px) {
  .login-container {
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: none;
  }
}
